a{
    text-decoration: none;
}
li{list-style: none;
}
a:hover{
    color:blue;
    background-color:antiquewhite;
    border-radius: 1em;
    font-size: 15px;
    text-decoration: underline;
}
body{
    background-image: linear-gradient(to left,black,white);
}
img{
    position:absolute;
    opacity: 0.3;
    left: 200px;
    top: 10px;
}